# PATH: /path/to/ssm
# string
VITE_LAT=
VITE_LON=
VITE_TIMEZONE=
VITE_API_BASE_URL=
# secret
VITE_X_API_KEY=

# PATH: /path/to/ssm
# secret
SOLARMAN_TOKEN=
DEVICE_SN=
BYPASS_PASSWORD=

# PATH: /path/to/ssm
S3_BUCKET=
CLOUDFRONT_DISTRIBUTION_ID=


